<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视图库信息</title>
</head>
<body>
<table border="1px" width="auto" style="border-collapse: collapse;">
    <a href="../app01/add">添加视图库</a>
    <tr>
        <th>序号</th>
        <th>视图库ID</th>
        <th>视图库名称</th>
        <th>上下级</th>
        <th>视图库IP</th>
        <th>视图库端口</th>
        <th>是否在线</th>
        <th>订阅类别</th>
        <th>操作</th>
    </tr>
    {% for viid in viid_list %}
        <tr>
<!--            <td align="center">{{ forloop.counter }} </td>-->
            <td align="center">{{ viid.id }} </td>
            <td align="center">{{ viid.deviceId }} </td>
            <td align="center">{{ viid.name }} </td>
            <td align="center">{{ viid.type }} </td>
            <td align="center">{{ viid.ipAddr }} </td>
            <td align="center">{{ viid.port }} </td>
            <td align="center">{{ viid.onlineStatus }} </td>
            <td align="center">{{ viid.subscribeDetail }} </td>
            <td align="center">
                <a href="../app01/edit/?id={{ viid.id }}">
                    编辑
                </a>
                <a href="../app01/delete/?id={{ viid.id }}">
                    删除
                </a>
                <a href="../app01/subscribe/?id={{ viid.id }}">订阅</a>
<!--                {% if  viid.type == "下级" %}-->
<!--                <a href="../app01/subscribe/?id={{ viid.id }}">订阅</a>-->
<!--                {% else %}-->
<!--                <a href="javascript:return false;" onclick="return false;">订阅</a>-->
<!--                {% endif %}-->
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>